@page "{id:int?}"
@model ArchPointPHR.Pages.Medications.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Medication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Medication.ID" />
            <div class="form-group">
                <label asp-for="Medication.Name" class="control-label"></label>
                <input asp-for="Medication.Name" class="form-control" />
                <span asp-validation-for="Medication.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medication.Physician" class="control-label"></label>
                <input asp-for="Medication.Physician" class="form-control" />
                <span asp-validation-for="Medication.Physician" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medication.Quantity" class="control-label"></label>
                <input asp-for="Medication.Quantity" class="form-control" />
                <span asp-validation-for="Medication.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medication.Dosage" class="control-label"></label>
                <input asp-for="Medication.Dosage" class="form-control" />
                <span asp-validation-for="Medication.Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medication.Reason" class="control-label"></label>
                <input asp-for="Medication.Reason" class="form-control" />
                <span asp-validation-for="Medication.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medication.Type" class="control-label"></label>
                <input asp-for="Medication.Type" class="form-control" />
                <span asp-validation-for="Medication.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
