@page
@model AboutModel
@{
    ViewData["Title"] = "Terms";
}

<center><h3>Welcome to Archpoint PHR</h3></center>
<br /><br />
<center><h1>We are not responsible for any data that you input into here. Recording your health records online can be dangerous to your own privacy.</h1></center>

<br /><br />